.listWrapper {
    padding-top: 11.11vw;
    padding-bottom: 11.11vw;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 11.11vw;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.item:nth-child(even) {
    flex-direction: row-reverse;
}

.productPicture img {
    max-width: 540px;
    width: 37.5vw;
    height: auto;
    object-fit: cover;
}

.productInfo {
    width: 30.9vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;

}


.productText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.productText span {
    color: var(--orange);
}

.productText h2 {
    color: var(--black);
    max-width: 27vw;
}

.productText p {
    margin-top: 23px;
    color: var(--black);
    opacity: 50%;
}


@media only screen and (max-width: 1024px) {
    .listWrapper {
        padding-top: 15.63vw;
        padding-bottom: 15.63vw;
    }

    .list {
        gap: 15.63vw;
    }

    .item {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 6.77vw;
    }

    .item:nth-child(even) {
        flex-direction: column;
    }

    .productPicture {
        width: 100%;
    }

    .productPicture img {
        width: 100%;
        max-width: none;
        height: 45.83vw;
    }

    .productInfo {
        width: 74.48vw;
        align-items: center;
        text-align: center;
        gap: 24px;

    }

    .productText span,
    .productText h2 {
        width: 100%;
        max-width: none;
    }



    .productText p {
        margin-top: 16px;
    }
}


@media only screen and (max-width: 599px) {
    .listWrapper {
        padding-top: 32vw;
        padding-bottom: 32vw;
    }

    .list {
        gap: 32vw;
        padding-left: 0px;
    }

    .item {
        gap: 8.53vw;
    }

    .item:nth-child(even) {
        flex-direction: column;
    }

    .productPicture {
        width: 100%;
    }

    .productPicture img {
        height: 93.87vw;
    }

    .productInfo {
        width: 100%;
        align-items: center;
        text-align: center;
        gap: 24px;

    }

    .productText {
        gap: 24px;
    }

    .productText h2 {
        font-size: 2.8rem;
        line-height: normal;
        letter-spacing: 0.1rem;
    }


    .productText p {
        margin-top: 0px;
    }
}