.categories {
    width: 100%;
    max-height: 284px;
    height: 19.7vw;
    display: flex;
    flex-direction: row;
    gap: var(--sp-30);
}

.item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categoryBox {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    margin-top: 80px;
    background-color: var(--grey);
    border-radius: 8px;
    padding-bottom: 17px;
}

.categoryPicture {
    position: absolute;
    top: -4vw;
    left: 50%;
    transform: translateX(-50%)
}

.categoryPicture img {
    width: auto;
    height: 12.71vw;
    object-fit: contain;
}

.categoryText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1024px) {
    .categories {
        gap: 10px;
        max-height: 216px;
        height: 28.1vw;
    }

    .categoryBox {
        margin-top: 61.5px;
        padding-bottom: 11px;
    }

    .categoryPicture img {
        height: 17.31vw;
    }

    .categoryPicture {
        top: -7.68vw;
    }
}


@media only screen and (max-width: 599px) {
    .categories {
        flex-direction: column;
        max-height: none;
        height: auto;
        gap: 16px;
    }

    .item {
        height: 57.86vw;
        max-height: 217px;
    }

    .categoryBox {
        margin-top: 13.86vw;
        padding-bottom: 11px;
    }

    .categoryText {
        gap: 6px;
    }

    .categoryPicture img {
        height: 33.86vw;
    }

    .categoryPicture {
        top: -13.86vw;
    }
}