---
import styles from "./CategoryNavigation.module.css";
import Item from "./item.astro";
---

<div class={styles.categories} data-aos="fade-up">
  <Item
    link="headphones"
    text="HEADPHONES"
    image="/audiophile-ecommerce/assets/shared/desktop/image-category-thumbnail-headphones.png"
    alt="Headphones"
  />
  <Item
    link="speakers"
    text="SPEAKERS"
    image="/audiophile-ecommerce/assets/shared/desktop/image-category-thumbnail-speakers.png"
    alt="Speakers"
  />
  <Item
    link="earphones"
    text="EARPHONES"
    image="/audiophile-ecommerce/assets/shared/desktop/image-category-thumbnail-earphones.png"
    alt="Earphones"
  />
</div>
