.footer {
    width: 100%;
    height: auto;
    padding-top: 71px;
    padding-bottom: 48px;
    background-color: var(--dark-grey);
    position: relative;
}

.footerLine {
    position: absolute;
    top: 0;
    background-color: var(--orange);
    height: 4px;
    width: 7.01vw;
}

.footerInner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: var(--sp-36);
}

.footerTop {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerLogo img {
    width: 143px;
    height: auto;
    object-fit: cover;
}

.footerNavigation {
    display: flex;
    flex-direction: row;
    gap: var(--sp-34);
}

.footerItem span {
    color: var(--white);
    letter-spacing: 0.2rem;
}


.footerItem:hover span {
    color: var(--orange);
}

.footerBody {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--sp-56);
}

.footerInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.footerText {
    max-width: 540px;
    width: 52.7vw;
    color: var(--white);
    opacity: 50%;
}

.footerCopyright {
    color: var(--white);
    opacity: 50%;
}


.footerSocials {
    position: absolute;
    right: 0;
    top: -6.34vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px
}

.footerSocialIcon {
    width: 24px;
    height: auto;
}


@media only screen and (max-width: 1024px) {
    .footerLine {
        width: 13.15vw;
    }

    .footer {
        padding-top: 60px;
        padding-bottom: 46px;
    }

    .footerTop {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .footerText {
        max-width: none;
        width: 100%;
    }


    .footerSocials {
        top: 0;
    }
}

@media only screen and (max-width: 599px) {


    .footerLine {
        max-width: 137px;
        width: 36.53vw;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer {
        padding-top: 52px;
        padding-bottom: 38px;
    }

    .footerTop {
        align-items: center;
        gap: 48px;
    }

    .footerText {
        text-align: center;
    }

    .footerInner {
        gap: 48px;
    }

    .footerBody {
        gap: 48px;
    }

    .footerSocials {
        position: static;
    }

    .footerNavigation {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .footerInfo {
        flex-direction: column;
        gap: 48px;
    }
}