---
import Header from "../components/Header/index.astro";
import Footer from "../components/Footer/index.astro";
import MobileMenu from "../components/MobileMenu/index.astro";
const basePath = import.meta.env.BASE_URL || "/";
---

<html lang="en">
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href=`${basePath}assets/favicon-32x32.png`
    />

    <!-- styles -->
    <link rel="stylesheet" href="/audiophile-ecommerce/styles/global.css" />

    <meta name="generator" content={Astro.generator} />
    <title>Frontend Mentor | Audiophile Ecommerce Site</title>
  </head>

  <body>
    <Header />
    <MobileMenu />
    <slot />
    <section class="fbanner horizontal-pad">
      <div class="fbanner__inner">
        <div class="fbanner__text">
          <h2>
            BRINGING YOU THE <span class="orange-text">BEST</span> AUDIO GEAR
          </h2>
          <p>
            Located at the heart of New York City, Audiophile is the premier
            store for high end headphones, earphones, speakers, and audio
            accessories. We have a large showroom and luxury demonstration rooms
            available for you to browse and experience a wide range of our
            products. Stop by our store to meet some of the fantastic people who
            make Audiophile the best place to buy your portable audio equipment.
          </p>
        </div>
        <picture class="fbanner__picture">
          <source
            srcset="/audiophile-ecommerce/assets/shared/desktop/image-best-gear.jpg"
            media="(min-width:1025px)"
          />
          <source
            srcset="/audiophile-ecommerce/assets/shared/tablet/image-best-gear.jpg"
            media="(max-width:1024px)"
          />
          <source
            srcset="/audiophile-ecommerce/assets/shared/mobile/image-best-gear.jpg"
            media="(max-width:599px)"
          />
          <img
            src="/audiophile-ecommerce/assets/shared/desktop/image-best-gear.jpg"
            alt="Best Gear"
          />
        </picture>
      </div>
    </section>
    <Footer />
    <script>
      import "../scripts/scripts.js";
    </script>
  </body>
</html>
