---
const { slug } = Astro.props;
import data from "../data/data.json";
import BaseLayout from "./BaseLayout.astro";
import { CartProvider } from "../components/Context/cartContext";
import ProductInfo from "../components/ProductInfo";
import RelatedProducts from "../components/RelatedProducts/index.astro";
import CategoryNavigation from "../components/CategoryNavigation/index.astro";
const product = data.find((p) => p.slug === slug);
---

<BaseLayout flag="true">
  <div class="header-bg"></div>
  <div class="product-main-wrapper horizontal-pad">
    <main class="product-main">
      <div class="product-nav">
        <a href="#" id="prev-nav">
          <p>Go Back</p>
        </a>
      </div>
      <CartProvider>
        <ProductInfo product={product} client:load />
      </CartProvider>
      <RelatedProducts product={product} />
      <CategoryNavigation />
    </main>
  </div>
</BaseLayout>
