---
const { product } = Astro.props;
import styles from "./RelatedProducts.module.css";
import Item from "./item.astro";
const others = product.others;

interface Image {
  mobile: string;
  tablet: string;
  desktop: string;
}

interface Product {
  slug: string;
  name: string;
  image: Image;
}
---

<div class={styles.relatedProducts} data-aos="fade-up">
  <div class={styles.title}>
    <h3>YOU MAY ALSO LIKE</h3>
  </div>
  <div class={styles.productsGrid}>
    {others.map((p: Product) => <Item product={p} />)}
  </div>
</div>
